<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

  <main class="main main--update">
    <form method="PUT" action="/api/shifts/<% shift.id %>" enctype="application/json" class="form card card--update">
      <div class="card-header bg-dark text-light">
        <p><%= shift.date_formatted %></p>
      </div>
      <div class="card-body row g-3 mt-1">
        <div class="col-md-8">
          <input type="number" class="form-control" id="items" name="items" placeholder="add items">
        </div>
        <div class="col-md-4">
          <button class="btn btn-outline-secondary mb-2">add</button>
        </div>
      </div>
    </form>
  </main>


    <%- include('../partials/foot') %>