<%- include ('../partials/head') %>

<header>
  <h1>DPM SHIFT TRACKER </h1>
  <p><span><small><a href="/login">login</a></small></span></p>
</header>
<main>

</main>

<%- include('../partials/foot') %>